*{
    padding: 2px;
    max-width: 1200px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}

.pare{
    display: grid;
    grid-template-areas: "header   header   header"
                         "seccio   seccio   aside"
                         "footer   footer   footer";
                         background-color: white;
}
.header{
    grid-area: header;
    background: url(images/header.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    display: grid;
    grid-template-areas: "logo         navegacio   social"
                          "text-header text-header text-header";
    background-color: aliceblue;
    text-align: center;
    padding: 40px;
    margin-bottom: 4px;

}
    .logo{
        grid-area: logo;
        margin-bottom: 100px;
    }
      .logo > img{
        width: 60px;
        height: auto;
     }

    .navegacio{
        grid-area: navegacio;
        margin-bottom: 100px;
    }
        .navegacio > a{
            color: rgb(165, 163, 163);
            margin-bottom: 10px;
            text-decoration: none;
        }
        .navegacio > a:hover{
            color: black;
        }
        .separacio{
            padding: 25px;
        }
        .alinear{
            vertical-align: middle;
        }
    .social{
        grid-area: social;
        margin-bottom: 100px;
    }
    .social > a{
        filter:grayscale(100%);
    }
    .social > a:hover{
        filter:grayscale(0%);
    }

    .text-capsalera{
        grid-area: text-header;
        color: orange;
    }
.section{
    grid-area: seccio;
    display: grid;
    grid-template-areas: "article1   article2"
                         "article3   article4";
    background-color: rgb(218, 216, 216);  
    text-align: center;
    align-items: center;
}
 
.article1{
    grid-area: article1;
    display: grid;
    grid-template-areas: "foto       foto"
                         "mini       mini "
                         "article1 article2";
    background-color: white;
    text-align: center;
    margin: 4px;
}
.leer-mas{
    color: rgb(165, 163, 163);
    text-align: left;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
}
.leer-mas:hover{
    color: black;
}
.foto{
    grid-area: foto;
    max-width: 100%; 
    height: auto;
}
.mini-header{
    grid-area: mini;
    background-color: salmon;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 4px;
}.columna1{
    grid-area: article1;
    text-align: left;
    padding: 15px;
    margin-right: 4px;
}
.columna2{
    grid-area: article2;
    text-align: left;
    margin-right: 4px;

}
.article2{
    grid-area: article2;
    background-color: white;
    display: grid;
    grid-template-areas: "foto       foto"
                         "mini       mini "
                         "article1 article2";
    text-align: center;
    margin: 4px;
}
.article3{
    grid-area: article3;
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-areas: "foto      foto"
                         "mini       mini "
                         "article1 article2";
    margin: 4px;
}
.article4{
    grid-area: article4;
    background-color: white;
    display: grid;
    grid-template-areas: "foto       foto"
                         "mini       mini "
                         "article1 article2";
    text-align: center;
    margin: 4px;
}
.aside{
    grid-area: aside;
    margin-left: 10px;
    background-color: rgb(218, 216, 216);
}

.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 100fr 1fr;
    grid-template-columns: "1 2 3";
    text-align: center;
    margin-top: 4px;
}
.esquerra{
    grid-column: 1;
    background-color:rgb(218, 216, 216) ;
    padding:10px;
}
.text-footer{
    grid-column: 2;
    background-color: rgb(243, 240, 240);
    padding:20px;

}
.dreta{
    grid-column: 3;
    background-color:rgb(218, 216, 216) ;
    padding:10px;
}
@keyframes animacio {
    from {top:200px}
    to{top:10px; }
}
