*{
    padding: 10px;
    max-width:1200px;
    box-sizing: border-box;
}
.pare{
    display: flex;
    padding: 10px;
    flex-flow: column ;
}
.header{
    background: url(images/header.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-flow:column wrap;
}
    .menu{
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        animation: animacio 5s;
    }
    .logo img{
        
        margin-right: 70px;
        width: 60px;
        height: auto;
   }  
    .nav a{
       color: rgb(165, 163, 163);
       margin-bottom: 10px;
       text-decoration: none;
   }
   .alinear{
        vertical-align: middle;
        margin: 0px;
   }
    .social{
        margin-left: 80px;
     }
   .nav a:hover{
       color: black;
   }
    .logos{
        width: 40px;
        height: auto;
        filter:grayscale(100%);
    }   
    .logos:hover{
        filter:grayscale(0%);
    }
    .social a:hover{
        color: salmon;
    }
  
    .principal-text{
        position: relative;
        animation: textanimat 5s;

    }
   .principal-text h1{
        color: orange;
        text-align: center;
    }
    img {
        justify-content: center;
        width: 100%; 
        height: auto; 
    }
    .section{
        background:rgb(218, 216, 216) ;
        display: flex;
        flex-wrap: nowrap;
    }
    .articles{
        padding: 0px;
        flex: 2 1 auto;
        display: flex;
        flex-flow: wrap;
  }
    .article{
        background:white;
        padding: 10px;
        margin: 5px;
        flex: 40%;         
     }
        .miniheader{
            background: salmon;
            color: white;
        }
        .text{
            margin: 1px;
            display: flex;
        }
        .article a{
            color: rgb(160, 160, 160);
            text-decoration: none;

        }
        .article a:hover{
            color: rgb(0, 4, 7);
        }
    .navegacio{
        flex: 1 1 100%;
    }
    
.aside{
    display: flex;
    flex-direction: column;
}
 
    .peu{
        background: rgb(245, 244, 244);
        display: flex;
        justify-content: space-around;
    }


@media  all and (max-width: 820px){
    .section{
        flex-direction:column; 
      
        
    }
    .menu{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }
}
@media all and (max-width: 600px){
    .menu{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }
    .logo{
        width: 80%;
        padding: 10px;    
    }
        .nav{
        display: flex;
        flex-direction: column;
        width: 80%;
               
    }
    .social{
        width: 80%;

    }
    .articles{
        flex-direction: column;
    }
}
@keyframes animacio {
    from {top:200px;}
    to{top:0px; }
}
@keyframes textanimat{
    from {top:50px;}
    to{top:0px; }
}

